[Desktop Entry]
Type=Application
Name=osu!gacha
Comment=Discover osu! skins through gameplay
Exec=osu-gacha
Icon=osu-gacha
Terminal=false
Categories=Game;
